# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/log/*
/test/lidar*
OUTPUT/*

.idea
*/*/*/build
/build/*
/build-realease/*
/build-debug/*

/html
/latex

.cache
*.DS_Store

.clangd
compile_commands.json

.vscode